.main {
    border-right: 1px solid #ccc;
}
img.media-object {
    width: 80px;
}
footer .row .col-lg-12{
    padding: 0;
}
.to-trash {
    font-size: 24px;
}
.to-trash p {
    font-size: 14px;
}
.card-send .right {
    float: right;
}

form#confirmation-form input, form#confirmation-form select {
    outline: none;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0);
}

.nova-poshta-img {
    padding: 25px;
}
img.np {
    max-width: 70%;
}